<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Idea Factory', root_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'New Idea', new_idea_path, class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class = "nav-link disabled"> Welcome, <%= current_user.first_name %> <%= current_user.last_name %> </span>
            </li>
            <li class="nav-item">
              <%= link_to('Sign Out', session_path, class: 'nav-link', method: :delete) %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
            </li>
            <li class="navbar-item">
              <%= link_to 'Login', new_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
